@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');

/*
 Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

 Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

 Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

 Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

 Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}*/
*,
*::after,
*::before {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	background: black;
	display: flex;

	justify-content: center;

	align-items: center;

	flex-wrap: wrap;
}
.navbar {
	cursor: pointer;
	font-size: 2em;
	background: white;
	border-bottom: 3px solid cyan;
	border-radius: 8px;
	transition: all 0.3s linear;
	z-index: 9999;
}
.navbar:hover {
	box-shadow: rgba(0, 0, 0, 0.8) 0px 8px 20px,
		inset rgba(0, 0, 0, 0.4) 0px -10px 20px;
}
.fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
}
.nav-zone {
	display: flex;
	list-style: none;
	margin: 0;
	font-family: 'consolas', sans-serif;
	font-size: 0.7em;
	font-weight: bold;
}
.logo {
	position: relative;
	top: -7px;
	padding-left: 5em;
}
.nav-logo {
	margin: 0;
	width: 250%;
}
nav ul li {
	padding: 25px 25px 10px 25px;
}
.navbar ul li a:hover {
	color: red;
}
@media only screen and (max-width: 750px) {
	.nav-zone {
		font-size: 1em;
		padding: 0;
	}
	.logo {
		padding-left: 0.6em;
	}
	nav ul li {
		padding: 1em;
	}
}
@media only screen and (max-width: 500px) {
	.nav-zone {
		margin: 0 auto;
		font-size: 0.6em;
		padding: 0.6em;
	}
	nav ul li {
		padding: 0.5em;
		padding-bottom: 0;
	}
	.logo {
		margin-right: 0.6em;
	}
}
nav a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
.zone1 {
	height: auto;
	width: 100%;
	padding-top: 9.7em;
}
/*@media only screen and (max-width: 700px) {
	.zone1 {
		height: 200%;
	}
}
@media only screen and (max-width: 1000px) {
	.zone1 {
		height: 120%;
	}
}*/
.zone1::after {
	content: '';
	background: url('./batman-img/batnew.png');
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.3;
	top: -110px;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.container {
	display: flex;
}
@media only screen and (max-width: 900px) {
	.flex-col {
		flex-direction: column;
	}
	.about-batman {
		order: 2;
	}
}
.about-batman {
	font-family: 'Spartan', sans-serif;
	line-height: 30px;
	font-size: 1em;
	width: 60vw;
	color: white;
	text-shadow: 0 0 2px blue, 0 0 5px dodgerblue;
}
p light {
	color: #fff;
	text-shadow: none;
	font-size: 0.9em;
	font-style: italic;
}
p light a {
	color: #0182f9;
	text-decoration: none;
}
p light a:hover {
	color: #77daf5;
}
.bat-card {
	transition: 1s ease;
	width: 20%;
	box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
	margin-left: 30px;
}
.bat-card:hover {
	box-shadow: 0 15px 15px rgba(255, 255, 255, 0.5),
		inset 0 15px 15px rgba(255, 255, 255, 0.5);
	transform: scale(1.14);
}
.flex-center {
	justify-content: center;
	align-items: center;
}
.bat-card img {
	height: auto;
	width: 100%;
	border-radius: 4px;
}
.bat-card div h1 {
	color: #0182f9;
	font-size: 1.8em;
}
@media only screen and (max-width: 1000px) {
	.zone1 {
		background: #000000;
	}
	.about-batman {
		font-size: 1em;
		width: 80vw;
	}
	.bat-card {
		width: 50%;
		margin-bottom: 1em;
	}
}
@media only screen and (max-width: 700px) {
	.about-batman {
		font-size: 0.9em;
		width: 80vw;
	}
}
.zone2 {
	height: auto;
	width: 100%;
	background: linear-gradient(to bottom, #000000, #333333, #666666, #eeeeee);
	overflow: hidden;
}
/*@media only screen and (max-width: 500px) {
	.zone2 {
		height: 1000%;
	}
}
@media only screen and (max-width: 800px) {
	.zone2 {
		height: 615%;
	}
}
@media only screen and (max-width: 1000px) {
	.zone2 {
		height: 320%;
	}
}*/
.zone2 h3 {
	color: #fff;
	font-family: 'Poppins';
	font-size: 3.3em;
	text-align: center;
	padding-top: 1.4em;
}
@media only screen and (max-width: 1100px) {
	.zone2 h3 {
		font-size: 2.3em;
	}
}
.grid-wrapper {
	z-index: 1;
	width: 85vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	grid-gap: 30px 60px;
}
@media only screen and (max-width: 700px) {
	.grid-wrapper {
		width: 60vw;
	}
}
.box {
	width: 85%;
	position: relative;
	margin: 30px;
	cursor: pointer;
	color: #fff;
	transition: all 1s ease;
	box-shadow: 0 7.5px 8px rgba(255, 255, 255, 0.5),
		7.5px 0 8px rgba(255, 255, 255, 0.5);
}
.box:hover {
	transform: scale(1.3);
	box-shadow: 0 15px 15px rgba(255, 255, 255, 0.5),
		inset 0 15px 15px rgba(255, 255, 255, 0.5);
}
.overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	opacity: 0;
}
.box:hover .overlay {
	opacity: 1;
}
.overlay h4 {
	color: #0182f9;
	padding-top: 2%;
	font-family: consolas, sans-serif;
	font-size: 1.8em;
	text-transform: uppercase;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 1);
}
.overlay p {
	font-family: 'Spartan', sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 1);
}
@media only screen and (max-width: 750px) {
	.box:hover {
		transform: scale(1.2);
	}
}
.box > img {
	width: 100%;
	height: 100%;
}
.box:hover img {
	filter: blur(2px) grayscale(2);
}
.zone3 {
	height: auto;
	width: 100%;
	background: #1d1d1d;
	overflow: hidden;
}
.zone3 h3 {
	color: #fff;
	font-family: 'Poppins';
	font-size: 3.3em;
	text-align: center;
	padding-top: 1em;
}
.comic-slider {
	width: 85%;
	height: auto;
}
.comic-slider img {
	padding: 0.8em 2.5em;
	width: 100%;
	height: auto;
}
.comic-img:before {
	width: 50% !important;
	height: auto;
}
.comic-img:hover {
	filter: brightness(130%);
}
.comic-img:hover .comic-info {
	color: #77daf5;
}
.slick-prev:before,
.slick-next:before {
	color: white;
	border: 2px solid cyan;
	text-shadow: 0 6px 15px cyan;
	border-radius: 50%;
	font-size: 40px;
}
.slick-prev {
	left: -45px;
}
.comic-info {
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 0.8em;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.comic-info:hover {
	color: #77daf5;
}
.padding-bottom {
	padding-bottom: 5em;
}
.zone4 {
	height: auto;
	width: 100%;
	background: #1d1d1d;
}
.zone4 h3 {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 3.3em;
	text-align: center;
	padding-top: 0.5em;
}
.games-cards-container {
	position: relative;
	max-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.games-cards-container .games-card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 50px 0;
}
.games-cards-container .games-card:nth-child(odd) {
	flex-direction: row;
}
.games-cards-container .games-card:nth-child(even) {
	flex-direction: row-reverse;
	text-align: right;
}

.games-cards-container .games-card .games-img {
	position: relative;
	left: 1.56em;
	width: 23.5em;
	height: 29.375em;
	z-index: 1;
}
.games-cards-container .games-card:nth-child(even) .games-img {
	left: -1.56em;
}
.games-cards-container .games-card .games-img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.games-cards-container .games-card .games-content-box {
	position: relative;
	right: 1.56em;
	width: 35em;
	height: 26.5em;
	background: #eeeeee;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 3em 2em 5em;
}
.games-cards-container .games-card:nth-child(even) .games-content-box {
	right: -1.56em;
	padding: 1em 5em 2em 3em;
}
.games-cards-container .games-card .games-content-box:before {
	content: '';
	position: absolute;
	top: -50px;
	bottom: -50px;
	left: 0;
	right: 0;
	background: #eeeeee;
	z-index: -1;
}
.games-cards-container .games-card .games-content-box h2 {
	font-size: 1.875em;
	color: #0182f9;
	font-family: 'Cinzel', sans-serif;
}
.games-cards-container .games-card .games-content-box p {
	font-family: 'Montserrat', sans-serif;
	color: #000084;
	line-height: 2em;
	letter-spacing: 0.1em;
}
.games-content-box p span {
	font-family: 'Cormorant', sans-serif;
	font-weight: normal;
	color: black;
	letter-spacing: 0;
}
.games-cards-container .games-card .games-content-box a {
	display: inline-block;
	margin-top: 0.93em;
	color: #eeeeee;
	text-decoration: none;
	padding: 0.625em;
	background: black;
	border: 1px solid #000;
}
.games-cards-container .games-card .games-content-box a:hover {
	display: inline-block;
	margin-top: 0.93em;
	color: #000;
	text-decoration: none;
	padding: 0.625em;
	background: #eeeeee;
	border: 1px solid #000;
}
@media (max-width: 1000px) {
	.games-cards-container .games-card {
		flex-direction: column;
		max-width: 400px;
		margin: 25px 25px;
	}
	.games-cards-container .games-card .games-img {
		width: 100%;
		height: 500px;
		left: 0;
	}
	.games-cards-container .games-card .games-content-box {
		width: 100%;
		height: auto;
		right: 0;
		padding: 30px;
		text-align: center;
	}
	.games-cards-container .games-card .games-content-box:before {
		top: 0;
		bottom: 0;
	}
	.games-cards-container .games-card:nth-child(even) .games-img {
		left: 0px;
	}
	.games-cards-container .games-card:nth-child(even) .games-content-box {
		right: 0px;
		padding: 30px;
	}
}
